<div ng-controller="templateNavbar">
  <div class="sidebar" data-color="purple" data-image="./assets/img/sidebar-1.jpg">

      <div class="logo">
        <a  class="simple-text">
          {{env['name']}}      
        </a>
      </div>

      <div class="sidebar-wrapper">
            <ul class="nav">
                <li id="btnDashboard">
                    <a ng-click="loadPage('/dashboard')">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li id="btnPos">
                    <a ng-click="loadPage('/caixas')">
                      <i class="material-icons">library_books</i>
                      <p>Caixa</p>
                    </a>
                </li>
            </ul>
      </div>
  </div>
</div>

<script type="text/javascript">
  $('#'+$core.getScope('templateNavbar','btnActive')).toggleClass('active');
</script>