<div ng-include="'./app/views/templates/navbar.html'" ng-init="btnActive='btnPos'"></div>

<div>
  	<div class="main-panel">

	    <div class="content" style="margin-top: 0px; padding-top: 0px;">
	      	<div class="container-fluid">

				<div ng-if="caixaAberto==true"> 
	          		<h1>Caixa Aberto</h1>				

					<a ng-click="teste()">
						<div class="col-md-12 caixaAberto">
							<div class="card card-stats">
								<div class="card-header" data-background-color="green">
									<i class="material-icons">store</i>
								</div>
								<div class="card-content">
									<p class="category"><strong>Número : </strong>#{{caixa.id}}</p>
									<p class="category"><strong>Usuário Responsável : </strong>{{caixa.usuario}}</p>
									<h3 class="title"><strong>Saldo Atual : </strong>R$ {{caixa.saldo_atual}}</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">date_range</i> Aberto em {{caixa.dt_abertura}} as {{caixa.hora_abertura}}
									</div>
								</div>
							</div>
						</div>
					</a>



				</div>   
				<div ng-if="caixaAberto==false"> 
	          		<h1>Abertura de Caixa</h1>				
	   				
	   				<div class="row" id="divBtnNewPos">
	   					<div class="col-md-12">
							<div class="alert alert-warning">
					             <div class="container-fluid">
									 <div class="alert-icon">
										<i class="material-icons">warning</i>
									</div>
					                 <b>Aviso   !!</b>     Não existe um caixa aberto, clique em "novo caixa" para abrir um novo.
					            </div>
					        </div>
					    </div>
				        <div class="col-md-12" >
				        	<div class="text-right">
				        		<button class="btn btn-primary" onclick="newPos()">Novo Caixa</button>
				        	</div>
				        </div>  
				    </div>
				    <div class="row">
				    	<div id="divFrmNewPos" style="display: none;">
				        	

				    		<div class="col-md-12">
		                        <div class="card">
		                            <div class="card-header" data-background-color="purple">
		                                <h4 class="title">Novo Caixa</h4>
										<p class="category">Complete as informações</p>
		                            </div>
		                            <div class="card-content">

		                                <form onsubmit="return false;" name="form" ng-submit="criarNovoCaixa(form)" ng-validate="validationOptions">
		                                    <div class="row">
		                                        <div class="col-md-2">
													<div class="form-group label-floating">
														<label class="control-label">Caixa</label>
														<input type="text" class="form-control" name="nextPos" ng-model="frm.proximoCaixa" disabled>
														<input type="text" hidden name="id" id="id" ng-model="nextPos" disabled>
													</div>
		                                        </div>
		                                        <div class="col-md-2">
													<div class="form-group label-floating">
														<label class="control-label">Responsável</label>
														<input type="text" hidden name="usuario_id" ng-model="frm.usuarios.usuario_id" disabled>
														<input type="text" class="form-control" name="usuario" id="usuario" ng-model="frm.usuarios.usuario" disabled>
													</div>
		                                        </div>
		                                        <div class="col-md-3">
													<div class="form-group label-floating">
														<label class="control-label">Data Abertura</label>
														<input type="text" class="form-control" disabled name="dt_abertura" ng-model="frm.dt_abertura">
													</div>
		                                        </div>
		                                        <div class="col-md-3">
													<div class="form-group label-floating">
														<label class="control-label">Hora Abertura</label>
														<input type="text" class="form-control" disabled name="hora_abertura" id="hora_abertura" ng-model="frm.hora_abertura">
													</div>
		                                        </div>
		                                    	<div class="col-md-2">
													<div class="form-group label-floating">
														<label class="control-label">Saldo Inicial</label>
														<input type="number" class="form-control" name="saldo_inicial" ng-model="frm.saldo_inicial" 
														step="0.01" autofocus min="0" required>		
													</div>
		                                        </div>
		                                    </div>

		                                    


		                                    <a class="btn btn-danger pull-left" onclick="abort()">Cancelar</a>
		                                    <button type="submit" class="btn btn-primary pull-right">Criar Caixa</button>
		                                    <div class="clearfix"></div>
		                                </form>

		                            </div>
		                        </div>
		                    </div>


				        </div>
				    </div> 




				</div> 		

	      	</div>
	    </div>

 	</div>
</div>


<script type="text/javascript">
function newPos()
{
	$('#divBtnNewPos').toggle(150);
	$('#divFrmNewPos').toggle(150);
	$('#opening_balance').focus();
}
function abort()
{
	$core.confirm("Confirmação","Deseja abandonar formulário de criação de novo caixa ?",function()
	{
		$('#divBtnNewPos').toggle(150);
		$('#divFrmNewPos').toggle(150);
	});
}

</script>