<div ng-include="'./app/views/templates/navbar.html'" ng-init="btnActive='btnDashboard'"></div>

<div ng-controller="mainController">
  <div class="main-panel">

    <div class="content">
      <div class="container-fluid">
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
          <h1>teste</h1>
      </div>
    </div>

  </div>
</div>
